header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 20px 40px;
  background: #ffc787;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.Title {
  color: rgb(216, 113, 65);
  font-family: Georgia, "Times New Roman", Times, serif;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 70px;
  margin: 0;
  padding-right: 20px;
}

nav a {
  text-decoration: none;
  color: rgb(216, 113, 65);
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo img {
  height: 80px;
  width: 80px;
}

body {
  margin: 0;
  padding-top: 100px; 
}
